---
apiVersion: v1
kind: Service
metadata:
  name: journal
  labels:
    app: journal
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 80
  selector:
    app: journal
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: journal
  labels:
    app: journal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: journal
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: journal
    spec:
      restartPolicy: Always
      containers:
        - name: journal
          image: "{{ journal_image }}"
          env:
            - name: DEPLOY_TIME
              value: "{{ journal_time }}"
            - name: REACT_APP_SPACE_ID
              value: "{{ journal_space_id }}"
            - name: REACT_APP_TITLE
              value: "{{ journal_title }}"
            - name: REACT_APP_AUTH_PROVIDER
              value: "{{ journal_auth_provider }}"
            - name: REACT_APP_AUTH_BASE
              value: "{{ journal_auth_path }}"
            - name: REACT_APP_CONTENT_BASE
              value: "{{ journal_zposter_content_path }}"
            - name: REACT_APP_NS
              value: "{{ journal_ns }}"
            - name: REACT_APP_TOKEN
              value: "{{ journal_token }}"
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet:
              path: "{{ journal_health_path }}"
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 60
          livenessProbe:
            httpGet:
              path: "{{ journal_health_path }}"
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 60
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "10m"
              memory: "32Mi"